<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
</head>
<body>
<h1>Create Book</h1>
<p>
    <a href="/books">Books list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-book}" th:object="${book}" method="post">
    <table>
        <tr>
            <td> Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Author :</td>
            <td><input type="text" th:field="*{author}"/></td>
            <td th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name Error</td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="c:${category}" th:value="${c.id}" th:text="${c.cateName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Book"></td>
        </tr>
    </table>
</form>
</body>
</html>